$g-radius: 9px;

$c-accent: #7700fe;

$c-modes: (
	primary: (back: #FFFFFF,
		front: #222222,
		border: #22222218),
	secondary: (back: #EEEEEE,
		front: #222222,
		border: #22222214),
	inverse: (back: #222222,
		front: #FFFFFF,
		border: #FFFFFF14)
);

$c-styles: (
	accent: (back: $c-accent),
	error: (back: #F34343),
	warning: (back: #ab8100),
	success: (back: #29AC5E),
	info: (back: #2463AA),
	//TODO: Button Styles
	loud: (back: $c-accent, border: transparent),
	action: (back: transparent, front: $c-accent, border: transparent),
	integrated: (back: transparent, border: transparent)
);

$t-styles: (
	"s": 0.7rem,
	"m": 1rem,
	"l": 1.2rem,
	"huge": 4rem,
);

$t-headers:(
	"6": 1.1rem,
	"5": 1.2rem,
	"4": 1.4rem,
	"3": 1.5rem,
	"2": 1.8rem,
	"1": 2.0rem,
);


@import "./root.scss";
@import "./color_style.scss";
@import "./type_style.scss";
@import "./components.scss";


